.hero {
  width: 100%;
  h1 {
    font-size: calc(1em + 3vmin);;
    margin-bottom: 0.2em;
    text-transform: uppercase;
    letter-spacing: 0.06em;
  }
  sub {
    font-size: 1em;
    bottom: -1em;
  }
}