$bottomgutter: 0.5em;
$gutter: 0.75em;
// $flex-basis: 335px;
$flex-basis: calc(50% - #{$gutter*2});
$mobile-flex-basis: calc(100% - #{$gutter*2});
// @media (min-width: 768px) {
//   .image-item {
//     flex: 0 1 100%;
//   }
// }

.image-item {
  cursor: pointer;
  display: flex;
  flex: 0 1 $flex-basis;  
  margin: 0 $gutter $bottomgutter;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  max-height: 50vh;

  @media (max-width: 768px) {
    flex: 1 0 300px;
  }

  img {
    border-radius: 30px;
    width: 100%;
    filter: grayscale(100%) contrast(50%);
    opacity: 0.3;
    transition: filter 300ms ease-in-out, transform 300ms ease-out;
    &.hover {
      filter: none;
      transform: scale(1.1);
    }
  }

  a, a:visited {
    color: inherit;
  }
  a:focus img {
    box-sizing: border-box;
    border: 2px solid black;
  }

  .image-item-name-wrapper {
    position: absolute;
    // min-height: calc(100% - #{$bottomgutter/2});
    min-height: 100%;
    // width: calc(100% - #{$gutter});
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(16px + 2vmin);
    .image-item-subname {
      font-size: calc(6px + 2vmin);
    }
  }

}