.image-item {
  display: flex;
  max-width: calc(50% - 2em);
  padding: 0 1em 1em;
  position: relative;
  img {
    width: 100%;
    border-radius: 30px;
    filter: grayscale(100%) contrast(50%);
    opacity: 0.3;
  }
  .image-item-name-wrapper {
    position: absolute;
    min-height: calc(100% - 1em);
    width: calc(100% - 1em);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(16px + 2vmin);
  }
}