$gutter: 0.75em;

.section-project-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // margin: 45px 102px;
  margin: $gutter*3 $gutter*8;
  @media (max-width: 768px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}