
.section {
  max-width: 1080px;
  margin: 0 auto;
  padding: 45px 0;
  h2 {
    padding-left: 20px;
    font-size: 2em;
  }
  .section-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  hr {
    opacity: 0.5;
  }
}
